<% if(current_user.has_role?(:user) && !current_user.verify) %>

  <h1><strong>Hello <%= current_user.first_name %>!</strong></h1>

  <p>Welcome to Banking System,</p>
  <p>Your account created successfully</p>
  <p>You recieve an confirmation email once your information gets verified and then you will be able to access your account</p>

  <p>Thanks for joining us, Have a great day!</p>
<% end %>

<% if current_user.has_role?(:admin) || current_user.has_role?(:manager) %>
  <h1><strong>Hello</strong></h1>

  <table class="table table-striped", id="users">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
        <th>Mobile Number</th>
        <th>Bank Name</th>
        <th>PAN</th>
        <th>Social Security Number</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.occupation %></td>
        <td><%= user.mobile_no %></td>
        <td><%= user.bank.name %></td>
        <td><%= user.pan %></td>
        <td><%= user.social_security_no %></td>
        <% if user.verify %>
          <td>Verified</td>
        <% else %>
          <td>Not Verified</td>
        <% end %>    
        <td><%= link_to "Click to view", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
