<% if @user.verify %>
  <h4><b>Account Number:<%= @user.account.account_no %></b></h4>
<% end %>

<p>Name:<%= @user.first_name %> <%= @user.last_name %></p>
<p>Occupation:<%= @user.occupation %></p>
<p>Father's Name:<%= @user.father_name %></p>
<p>Mother's Name:<%= @user.mother_name %></p>
<p>Father's Occupation:<%= @user.father_occupation %></p>
<p>Mother's Occupation:<%= @user.mother_occupation %></p>
<p>Bank:<%= @user.bank.name %></p>
<p>PAN:<%= @user.pan %></p>
<p>Social Security Number:<%= @user.social_security_no %></p>

<h4>Permanent Address</h4>
<p>House Number:<%= @user.permanent_address.house_no %></p>
<p>Street Number:<%= @user.permanent_address.street_no %></p>
<p>Area:<%= @user.permanent_address.area %></p>
<p>City:<%= @user.permanent_address.city %></p>
<p>State:<%= @user.permanent_address.state %></p>
<p>Country:<%= @user.permanent_address.country %></p>
<p>PIN:<%= @user.permanent_address.pin %></p>
<p>Address Proof:<%= @user.permanent_address.address_proof %></p>

<h4>Local Address</h4>
<p>House Number:<%= @user.local_address.house_no %></p>
<p>Street Number:<%= @user.local_address.street_no %></p>
<p>Area:<%= @user.local_address.area %></p>
<p>City:<%= @user.local_address.city %></p>
<p>State:<%= @user.local_address.state %></p>
<p>Country:<%= @user.local_address.country %></p>
<p>PIN:<%= @user.local_address.pin %></p>
<p>Address Proof:<%= @user.local_address.address_proof %></p>

<p>Document:<%= link_to image_tag(@user.document.url(:thumb)), @user.document.url %></p>
<p>User Photo:<%= link_to image_tag(@user.user_photo.url(:thumb)), @user.user_photo.url %></p>
<% if !@user.verify %>
  <%= link_to "Verify", verify_user_path(@user), class: "btn btn-success" %>
<% else %>
  <b>Status: Verified</b><br />
  <b>Verified By:<%= @user.verified_by %></b>
<% end %>
