<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <th>Date</th>
    <th>Account Number</th>
    <th>Transaction Type</th>
  </tr>

  <% @transactions.all.each do  |transaction| %>
    <tr>
      <td><%= transaction.amount %> Rs.</td>
      <td><%= transaction.created_at.strftime("%m/%d/%Y") %></td>
      <% if transaction.account_id == current_user.account.id %>
        <td><%= transaction.user.account.account_no %></td>
        <td>Credit</td>
      <% else %>
        <td><%= transaction.account.account_no %></td>
        <td>Debit</td>
      <% end %>
    </tr>
  <% end %>
  <tr colspan="4"><b>Balance: <%= current_user.account.balance %></b></tr>
</table>

<b><%= link_to "Download Statements", download_mini_statement_transaction_path(current_user.id, format: 'pdf') %></b>

  
