<!DOCTYPE html>
<html>
  <head>
    <title>BankingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-light">
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% if(current_user.has_role?(:user) && current_user.verify) %>
          <%= link_to "Add beneficiary", new_beneficiary_path  %>
          <%= link_to "All Beneficiaries", beneficiaries_path %>
          <%= link_to "Fund Transfer", new_transaction_path %>
          <%= link_to 'Transactions', transactions_path %>
        <% end %>
      <%= link_to 'Create Manager', new_manager_path if current_user.has_role? :admin %>
      <%= link_to 'All Manager', managers_path if current_user.has_role? :admin %>
      <%= link_to "All Users", users_path if current_user.has_role?(:manager) || current_user.has_role?(:admin)  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> 
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %><br />
  <%= yield %>
  </body>
</html>
